.venv/
__pycache__/
*.pyc
.pytest_cache/

data/models/hf/*
!data/models/hf/.gitkeep
data/models/onnx/*
!data/models/onnx/.gitkeep
reports/model_summaries/*
!reports/model_summaries/.gitkeep

*.onnx
.DS_Store
